.base-stats {
    margin: auto;
    padding: 0em 2em;
    width: auto;

}

.stats-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    line-height: 1.5;
    width: 100%;
    margin: auto;
}

.stats-title {
    font-size: .6em;
    font-weight: bold;
    text-align: left;
}

.stats-number {
    font-size: .6em;
    font-weight: 200;
    color: #212121;
    width: auto;
}

span.stats-graphic{
    width: 60vw;
    height: 5px;
    margin: auto;
    padding: 0;
    border-radius: 20px;   
}

.background-stats {
    width: auto;
    height: 100%;
    display: block;
    border-radius: 10px;
    position: relative;
    top: -5px;
}

.stats-mark {
    height: 100%;
    display: block;
    border-radius: 10px;
}

.title-base-state {
    font-size: .8em;
    font-weight: bold;
    text-align: left;
    margin: auto;
    padding: 0;
    margin-bottom: 20px;
}

/** media query */
@media screen and (max-width: 600px) {

}