.card-item-content {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 1 0 15px rgba(0, 0, 0, 0.5);
    border: 1px solid #212121;
}

.card-item-content-image {
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
}

.card-item-content-image img {
    width: auto;
    height: 100%;
    object-fit: cover;
}

.card-item-content-title {
    padding: 10px;
    font-family: Poppins;
    background-color: #212121;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.name {
    color: #f7f7f7;
    font-size: 1.2em;
    font-weight: lighter !important;
}