@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

.header {
    font-family: poppins, sans-serif;
    font-weight: bold;
    font-size: 32px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1em 0em;
    color: #212121

}

.logo {
    height: 1.2em;
    pointer-events: none;
    padding-right: .5em;
}

.buttons-header {
    display: flex;
    flex-direction: row;
    align-items: center;
}